<h1>Racing details</h1>

<div class="details-container">
  

  <h2>Competitors:</h2>


<table class="row-border hover">
  <thead>
    <tr>
      
      <th>Competitor Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let competitor of competitors">
      
      <td>{{ competitor.name }}</td>
      <td>{{ competitor.position }}</td>
    </tr>
  </tbody>
</table>
</div>
<br>
<a [routerLink]="['']" class="button">Back</a>