<h1 *ngIf="!races">Loading...</h1>
<h1>Next 5 Races</h1>
<br>



<table class="row-border hover">
  <thead>
    <tr>
      <th>Race Type</th>
      <th>Meeting</th>
      <th>Race</th>      
      <th>Close time</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let race of races">
      <td>{{ race.type }}</td>      
      <td>{{ race.meeting }}</td>
      <td>{{ race.name }}</td>
      <td><count-down [text]="text" units="Hours | Minutes | Seconds" end="{{ race.starting_time }}"></count-down></td>
      <td><a [routerLink]="['/details', race.id]" class="button">details</a></td>
    </tr>
  </tbody>
</table>

